html,
body {
  line-height: 1.4;
  word-wrap: break-word;
  font-size: 16px;
  /* font-family: "Roboto", sans-serif; */
  font-family: arial, sans-serif;
}

h2 {
  font-size: 1.25rem;
}

.header-container {
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
  height: 7.25rem;
  border-bottom: .3px solid #D7D7D7;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0.8rem;
}

.logo-and-search {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img{
  max-width: 7.5rem;
}

.search-container {
  display: flex;
  align-items: center;
  border: 0.4px solid #B6B6B6;
  width: 37.5rem;
  padding: 0.6rem 0.6rem;
  margin-left: 0.6rem;
  box-shadow: 0px 3px 10px 1px #C9C9C9;
  border-radius: 2px;
  background-color: white;
}

.icons {
  display: flex;
  color: #528EF2;
}

.icons i{
  padding: 0 0.5rem;
}

.text-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.bottom {
  height: 3.625rem;
  display: flex;
}
.sections-container {
  padding-left: 8.9rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sections-container ul {
  display: flex;
  justify-content: center;
}

.section {
  padding: 0 1rem;
}

.section a:hover {
  color: #222283;
  transition: all 0.1s ease-out;
}

.sections-container a {
  color: #767676;
  font-weight: 300;
  font-size: .87rem;
  text-decoration: none;
}

#underline {
  border-bottom: 4px solid #4686F1;
}

#underline a {
  color: #4686F1;
  font-weight: bold;
}

.google-services {
  display: flex;
  padding: 0 1.875rem;
}

ul {
  height: 100%;
}

/* Main container  */

.main-content {
  padding: 0 9.9rem;
}

.search-time {
  height: 2.6875rem;
  color: #767676;
  font-weight: 300;
  font-size: .87rem;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.main-content a {
  color: #281CAC;
}
.col-lg-6 h2 {
  margin: 0;
}
.info-section  {
  margin: 1.25rem 0 0.625rem 0;
}
div .green {
  font-size: 1rem;
  color: #2F7D46;
}

p {
  font-size: .87rem;
  color: #737373;
}

.info-section {
  padding-bottom: .5rem;
}

.panel .panel-default {
  padding-bottom: 0.5rem;
}

.progress p{
  color: white;

}

.btn{
  display: flex;
  justify-content: center;
}

.download {
    background-color:#FC4F56;
    color: white;
    box-shadow: 0px 3px 10px 1px #C9C9C9;
}
.related a{
  color: #281CAC;
  font-size: .87rem;
}

.container-fluent.btn:active {
  box-shadow: 0px 3px 10px 1px white;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
  height: 7.25rem;
  border-top: .3px solid #D7D7D7;
}

footer .container-fluid {
display: flex;
align-items: center;
justify-content: center;
padding-top: 3rem;
}

.fa-heart {
  color:#960030;
}

.media-left img{
  max-width: 5rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.languages {
  padding-bottom: 2rem;
}

.list-group-item .search-time{
  height: auto;
}

.col-lg-5 {
  padding-top: 3rem;
}
